{% extends 'base.html.twig' %}




{% block body %}
<form method="Post" route="{{  }}">
<div clas="form-group>
<label>name</label>
<input type="text" name="name" class="form-control">
<label>desc</label>
<input type="text" name="description" class="form-control">
<input type="submit" name="add">
</div>
</form>
{% endblock %}